# Це папки (буде ігнорувати всі файли в папці)
node_modules/
.vs/
.vscode/


# Це самі файли (буде ігнорувати всі файти такого типу та з такою назвою (разом))
.env

# Це самі файли в конкретній папці (буде ігнорувати файли з такою назвою та типом (разом) в конкретній папці) (/ - коренева папка)
